<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.noticeboardservice.mapper.CategoryMapper">
    <!-- 카테고리 생성 -->
    <insert id="insertCategory" parameterType="CategoryDto">
        INSERT INTO Categories (name, description)
        VALUES (#{name}, #{description})

        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 카테고리 삭제 -->
    <delete id="deleteCategory" parameterType="long">
        DELETE FROM Categories
        WHERE id = #{id}
    </delete>

    <!-- 카테고리 모두 삭제 -->
    <delete id="deleteAll">
        DELETE FROM Categories
    </delete>

    <!-- 카테고리 단일 조회 -->
    <select id="findByCategoryId" parameterType="long" resultType="CategoryDto">
        SELECT id, name, description
        FROM Categories
        WHERE id = #{id}
    </select>
</mapper>