<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.noticeboardservice.mapper.ImageMapper">
    <!-- 이미지 생성 -->
    <insert id="saveImage" parameterType="ImageDto">
        INSERT INTO images (img_name, ori_img_name, img_url, file_size, upload_date, image_type, type_id)
        VALUES (#{imgName}, #{oriImgName}, #{imgUrl}, #{fileSize}, #{uploadDate}, #{imageType}, #{typeId})
    </insert>

    <!-- 이미지 수정 -->
    <update id="updateImage" parameterType="ImageDto">
        UPDATE images
        SET img_name = #{imgName}, ori_img_name = #{oriImgName}, img_url = #{imgUrl},
            file_size = #{fileSize}, upload_date = #{uploadDate}, image_type = #{imageType}
        WHERE id = #{id}
    </update>

    <!-- 이미지 삭제 -->
    <delete id="deleteImage" parameterType="long">
        DELETE FROM images
        WHERE id = #{id}
    </delete>

    <select id="findByType">
        SELECT img_name, ori_img_name, img_url, file_size, upload_date, image_type, type_id
        FROM images
        WHERE type_id = #{typeId} AND image_type = #{type}
    </select>
</mapper>
