<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.noticeboardservice.mapper.NoticeMapper">

    <!-- 게시글 생성 -->
    <insert id="insertNotice" parameterType="NoticeRequestDto">
        INSERT INTO notice (title, content, post_date, member_id)
        VALUES (#{title}, #{content}, #{postDate}, #{memberId})
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateNotice" parameterType="NoticeRequestDto">
        UPDATE notice
        SET title = #{title}, content = #{content}
        WHERE id = #{id}
    </update>

    <!-- 게시글 조회 -->
    <select id="findNotice" resultType="NoticeResponseDto" parameterType="long">
        SELECT n.id, n.title, n.content,
               DATE_FORMAT(n.post_date, '%Y-%m-%d %H:%i:%s') AS post_date,
               n.member_id, m.username
        FROM notice n
            LEFT JOIN member m ON n.member_id = m.id
        WHERE n.id = #{noticeId}
    </select>

    <!-- 게시글 조회 by Member -->
    <select id="findNoticeByMemberId" resultType="NoticeResponseDto" parameterType="long">
        SELECT id, title, content, post_date, member_id
        FROM notice
        WHERE member_id = #{memberId}
    </select>

    <!-- 게시글 데이터 모두 조회 -->
    <select id="findAllNotices" resultType="NoticeResponseDto">
        SELECT n.id, n.title, n.content, DATE_FORMAT(n.post_date, '%Y-%m-%d') AS post_date, n.member_id, m.username
        FROM notice n
            LEFT JOIN member m ON n.member_id = m.id
        WHERE 1=1
        <if test="params.title != null">
            AND n.title LIKE CONCAT('%', #{params.title}, '%')
        </if>
        <if test="params.username != null">
            AND m.username LIKE CONCAT('%', #{params.username}, '%')
        </if>
    </select>

    <!-- 게시글 데이터 조회 By Page AND Keyword -->
    <select id="searchNoticesByPage" resultType="NoticeResponseDto">
        SELECT n.id, n.title, n.content, DATE_FORMAT(n.post_date, '%Y-%m-%d') AS post_date, n.member_id, m.username
        FROM notice n
             LEFT JOIN member m ON n.member_id = m.id
        WHERE 1=1
        <if test="params.title != null">
            AND n.title LIKE CONCAT('%', #{params.title}, '%')
        </if>
        <if test="params.username != null">
            AND m.username LIKE CONCAT('%', #{params.username}, '%')
        </if>
        ORDER BY n.id
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 게시글 삭제 -->
    <delete id="deleteNotice" parameterType="long">
        DELETE FROM notice
        WHERE id = #{id}
    </delete>

    <!-- 게시글 데이터 모두 삭제 -->
    <delete id="deleteAll">
        DELETE FROM notice
    </delete>
</mapper>
