<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limnj.noticeboardadmin.member.MemberMapper">
    <!-- 관리자 회원 가입 -->
    <insert id="saveAdminMember" parameterType="AdminMemberRequestDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Members (username, password, email, user_type)
        VALUES (#{username}, #{password}, #{email}, 'ADMIN')
    </insert>

    <!-- 관리자 회원 단일 조회 by PK -->
    <select id="findMemberById" parameterType="long" resultType="AdminMemberResponseDto">
        SELECT id, username, password, email
        FROM Members
        WHERE id = #{id} AND user_type = 'ADMIN'
    </select>

    <!-- 관리자 회원 단일 조회 by Username -->
    <select id="findMemberByUsername" parameterType="String" resultType="AdminMemberResponseDto">
        SELECT id, username, password, email
        FROM Members
        WHERE username = #{username} AND user_type = 'ADMIN'
    </select>

    <!-- 특정 이메일을 갖는 회원 존재 여부 확인 -->
    <select id="existsByEmail" parameterType="String" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM Members
            WHERE email = #{email} AND user_type = 'ADMIN'
        )
    </select>
</mapper>