<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limnj.noticeboardadmin.notice.NoticeMapper">
    <!-- 게시글 생성 -->
    <insert id="insertNotice" parameterType="NoticeRequestDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Notices (title, content, member_id)
        VALUES (#{title}, #{content}, #{memberId})
    </insert>

    <!-- 게시글 수정 -->
    <update id="updateNotice" parameterType="NoticeRequestDto">
        UPDATE Notices
        SET title = #{title}, content = #{content}, update_date = NOW()
        WHERE id = #{id}
    </update>

    <!-- 게시글 단일 조회 -->
    <select id="findNotice" resultType="NoticeResponseDto" parameterType="long">
        SELECT id, title, content
        FROM Notices
        WHERE id = #{noticeId}
    </select>

    <!-- 게시글 삭제 -->
    <delete id="deleteNotice" parameterType="long">
        DELETE FROM Notices
        WHERE id = #{noticeId}
    </delete>

    <!-- 게시글 모두 조회 -->
    <select id="findAllNotices" resultType="NoticeResponseDto">
        SELECT id, title, content
        FROM Notices
    </select>
</mapper>