<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.limnj.noticeboardadmin.jwt.TokenMapper">
    <!-- username 별 refresh token 저장 및 갱신 -->
    <insert id="saveRefreshToken" parameterType="RefreshToken" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Refresh_Token (username, token, expiry_date)
        VALUES (#{username}, #{token}, #{expiryDate})
        ON DUPLICATE KEY UPDATE
        token = #{token}, expiry_date = #{expiryDate}
    </insert>

    <!-- 만료되지 않은 token 정보 조회 -->
    <select id="findRefreshTokenByUsername" parameterType="string" resultType="RefreshToken">
        SELECT username, token, expiry_date
        FROM Refresh_Token
        WHERE username = #{username} AND expiry_date > NOW();
    </select>
</mapper>