spring:
  config:
    activate:
      on-profile: local
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:mysql://localhost:3306/noticeboard?serverTimezone=UTC
    username: root
    password: 1234

management:
  server:
    port: 9292
  endpoints:
    web:
      exposure:
        include: health,info,metrics,threaddump,heapdump,httptrace,loggers,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    enable:
      all: true

upload-path: file:///C:/images/
default-img-path: classpath:/static/default-image/
member-img-location: C:/images/member
product-img-location: C:/images/product
category-img-location: C:/images/category
