groups:
  - name: spring-boot-alerts
    rules:

      # 서버 다운 알림
      - alert: SpringBootInstanceDown
        expr: up{job="spring-actuator"} == 0
        for: 30s
        labels:
          severity: critical
        annotations:
          summary: "Spring Boot 서버 다운"
          description: "Spring Boot 인스턴스가 30초 이상 응답하지 않습니다."

      # 응답시간 지연
      - alert: HighLatency
        expr: histogram_quantile(0.90, sum(rate(http_server_requests_seconds_bucket[5m])) by (le)) > 1.5
        for: 2m
        labels:
          severity: warning
        annotations:
          summary: "API 응답시간 지연"
          description: "90% 요청의 응답시간이 1.5초를 넘습니다."