<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.noticeboardservice.mapper.MessageMapper">
    <!-- 쪽지 전송 -->
    <insert id="insertMessage" parameterType="MessageDto">
        INSERT INTO Messages (sender_id, receiver_id, content)
        VALUES (#{senderId}, #{receiverId}, #{content})
    </insert>
    <!-- 쪽지 상세 조회 -->
    <select id="findMessageByMessageId" parameterType="long" resultType="MessageDto">
        SELECT sender_id, receiver_id, content
        FROM Messages
        WHERE id = #{id}
    </select>
    <!-- 쪽지 삭제 -->
    <delete id="deleteMessage" parameterType="long">
        DELETE FROM Messages
        WHERE id = #{id}
    </delete>
    <!-- 모든 쪽지 조회 -->
    <select id="findAllMessages" resultType="MessageDto">
        SELECT id, sender_id, receiver_id, content
        FROM Messages
    </select>
    <!-- 모든 쪽지 삭제 -->
    <delete id="deleteAllMessages">
        DELETE FROM Messages
    </delete>
</mapper>