<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.noticeboardservice.mapper.ProductMapper">
    <!-- 상품 등록 -->
    <insert id="insertProduct" parameterType="ProductRequestDto">
        INSERT INTO Products (title, content, category, standard_price, owner_id)
        VALUES (#{title}, #{content}, #{category}, #{standardPrice}, #{ownerId})

        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 상품 단일 조회 -->
    <select id="findProduct" resultMap="ProductDetailsResponseDtoMap" parameterType="long">
        WITH ProductImg AS (
            SELECT *
            FROM images
            WHERE image_type = 'PRODUCT'
        )

        SELECT A.id, A.title, A.content, A.category, A.standard_price, A.owner_id,
            COALESCE(B.img_url, '/image/productDefaultImg.jpg') AS img_url, A.post_date,
            c.bid_price AS latest_price, c.customer_id
        FROM Products A
            LEFT JOIN ProductImg B ON A.id = B.type_id
            LEFT JOIN Bid_History C ON A.id = C.product_id
        WHERE A.id = #{id}
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <!-- 상품 설명 수정 -->
    <update id="updateProduct" parameterType="ProductRequestDto">
        UPDATE Products
        SET title = #{title}, content = #{content}, standard_price = #{standardPrice}
        WHERE id = #{id}
    </update>

    <!-- 상품 삭제 -->
    <delete id="deleteProduct" parameterType="long">
        DELETE FROM Products
        WHERE id = #{id}
    </delete>

    <!-- 모든 상품들 삭제 -->
    <delete id="deleteAll">
        DELETE FROM Products
    </delete>

    <select id="findAllProducts" resultMap="ProductResponseDtoMap">
        WITH ProductImg AS (
            SELECT *
            FROM images
            WHERE image_type = 'PRODUCT'
        )

        SELECT A.id, A.title, A.content, A.category, A.standard_price, A.owner_id,
            COALESCE(B.img_url, '/image/productDefaultImg.jpg') AS img_url, A.post_date
        FROM Products A
            LEFT JOIN ProductImg B ON A.id = B.type_id
    </select>

    <select id="searchProductsByKeyword" resultMap="ProductResponseDtoMap">
        WITH ProductImg AS (
            SELECT *
            FROM images
            WHERE image_type = 'PRODUCT'
        )

        SELECT A.id, A.title, A.content, A.category, A.standard_price, A.owner_id,
            COALESCE(B.img_url, '/image/productDefaultImg.jpg') AS img_url, A.post_date
        FROM Products A
            LEFT JOIN ProductImg B ON A.id = B.type_id
        WHERE 1=1
        <if test="params.title != null">
            AND A.title LIKE CONCAT('%', #{params.title}, '%')
        </if>
        <if test="params.content != null">
            AND A.content LIKE CONCAT('%', #{params.content}, '%')
        </if>
        ORDER BY A.${sortKey} ${order}
    </select>

    <!-- record 에는 setter 가 존재하지 않기 때문에 생성자 기반 필드 매핑 -->
    <resultMap id="ProductResponseDtoMap" type="com.example.noticeboardservice.dto.ProductResponseDto">
        <constructor>
            <arg column="id" javaType="java.lang.Long"/>
            <arg column="title" javaType="java.lang.String"/>
            <arg column="content" javaType="java.lang.String"/>
            <arg column="category" javaType="java.lang.String"/>
            <arg column="standard_price" javaType="java.lang.Integer"/>
            <arg column="img_url" javaType="java.lang.String"/>
            <arg column="owner_id" javaType="java.lang.Long"/>
            <arg column="post_date" javaType="java.lang.String"/>
        </constructor>
    </resultMap>

    <resultMap id="ProductDetailsResponseDtoMap" type="com.example.noticeboardservice.dto.ProductDetailsResponseDto">
        <constructor>
            <arg column="id" javaType="java.lang.Long"/>
            <arg column="title" javaType="java.lang.String"/>
            <arg column="content" javaType="java.lang.String"/>
            <arg column="category" javaType="java.lang.String"/>
            <arg column="standard_price" javaType="java.lang.Integer"/>
            <arg column="latest_price" javaType="java.lang.Integer"/>
            <arg column="img_url" javaType="java.lang.String"/>
            <arg column="owner_id" javaType="java.lang.Long"/>
            <arg column="customer_id" javaType="java.lang.Long"/>
            <arg column="post_date" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
</mapper>