<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.noticeboardservice.mapper.RoomMapper">
    <!-- 채팅방 생성 -->
    <insert id="insertRoom" parameterType="RoomDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Rooms (member_id_lower, member_id_higher)
        VALUES (#{lowerId}, #{higherId})
    </insert>

    <!-- 채팅방 조회 -->
    <select id="findRoomByMembers" parameterType="RoomDto" resultType="RoomDto">
        SELECT id, member_id_lower AS lowerId, member_id_higher AS higherId
        FROM Rooms
        WHERE member_id_lower = LEAST(#{senderId}, #{receiverId}) AND member_id_higher = GREATEST(#{senderId}, #{receiverId})
    </select>

    <delete id="deleteAllRooms">
        DELETE FROM Rooms
    </delete>
</mapper>